<h2>Summer in the Winter!</h2>
<img src="assets/images/about.jpg" />
<h4>Why Thailand?</h4>
<p>
  Decided around late September, we decided to spend our 2 week holiday break in
  Thailand (major shout out to how awesome our job is to have a break without
  even making us take vacation days off). Initially we were both considering
  going to Vietnam during this time. However, due to $1800+ in round-trip
  tickets and visa requirements, we decided to plan our trip to be around
  Bangkok and the southern part of Thailand (Phuket & Krabi).
</p>
<h4>Pre-Trip</h4>
<p>
  To be quite frank, planning for this trip was kept to a minimum. Although we
  had certain places in mind, we definitely didn't book much in terms of hotels
  or activities. We just figured it would be easier (and maybe cheaper) to do it
  once we got there. However, this definitely wasn't the case for trying to get
  private rooms. At any rate, the highlight of this "pre-trip" planning was
  definitely getting our backpacks. Getting a full-fledged "backpacker's"
  backpack was definitely fun and we ultimately chose to get 44L matching
  backpacks by Kelty. The turned out to be super useful for the trip!
</p>
<h4>And So It Began...</h4>

