<h2>Summer in the Winter!</h2>
<img src="assets/images/about/about.jpg" alt="Tony & Emily" />
<h4>Why Thailand?</h4>
<p>
  Decided around late September, we decided to spend our 2 week holiday break in
  Thailand (major shout out to how awesome our job is to have a break without
  even making us take vacation days off). Initially we were both considering
  going to Vietnam during this time. However, due to $1800+ in round-trip
  tickets and visa requirements, we decided to plan our trip to be around
  Bangkok and the southern part of Thailand (Phuket & Krabi).
</p>
<h4>Pre-Trip</h4>
<p>
  To be quite frank, planning for this trip was kept to a minimum. Although we
  had certain places in mind, we definitely didn't book much in terms of hotels
  or activities. We just figured it would be easier (and maybe cheaper) to do it
  once we got there. However, this definitely wasn't the case for trying to get
  private rooms. At any rate, the highlight of this "pre-trip" planning was
  definitely getting our backpacks. Getting a full-fledged "backpacker's"
  backpack was definitely fun and we ultimately chose to get 44L matching
  backpacks by Kelty. The turned out to be super useful for the trip!
</p>
<h4>And So It Began (sort of)...</h4>
<p>
  The Thailand trip actually started with a much smaller trip to NYC since our
  flight would be going through JFK. We called up an Uber to get to the Eastern
  bus terminal in Chinatown. That morning we came to the sad realization that we
  forgot Emily's GoPro at home (tragic). At any rate, we were soon on our way to
  NYC. We slept through most of this ride and got into Manhattan Chinatown a
  little after noon. As is tradition, we devoured our way through cheap food
  (namely Vanessa's Dumplings and Shu Jiao Fu Zhou). No pictures here, but rest
  assured it was delicious. After walking around New York for a few more hours
  to kill time, Emily and I went to pick up some Meet Fresh (grass jelly
  dessert) and fried chicken for a meet-up with some of Emily's friends.
</p>
<img src="assets/images/about/nyc.jpg" alt="Fried Chicken in NYC" />
<p>
  The meet-up was essentially a fried chicken tasting consisting of chicken from
  Olive chicken, Jollibee, Blue Ribbon, and Boka with some Meet Fresh for
  dessert. All-in-all, it was a fun time, but just the beginning to our journey.
  After the meet-up, we took a one hour train ride to JFK, spent about an hour
  or so going through the airport, and took off to Abu Dhabi a little before 11
  (our original departure time was supposed to be 10). I wish I could've taken
  some pictures of the airplane food this time, but Emily and I were just way
  too tired to remember. When we landed in Abu Dhabi, our layover was pretty
  unremarkable. About three hours walking around terminals, washing up, and
  resting. Our transfer flight went smoothly and before we knew it, we were in
  Thailand.
</p>
<h4>Things We Should Do Next Time Traveling Together</h4>