/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #E2E2E2;
}

a { 
    margin: 20px;
}

li {
    list-style: none;
}

p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: #444554;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px white;
}

h3 {
    font-family: 'Thasadith';
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase
}