/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #E2E2E2;
}

a { 
    margin: 20px;
}

li {
    list-style: none;
}
