header {
    padding-top: 1rem;
    background: #B7CECE;
    margin: 0;
}

header h1 {
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
    color: #1C0F13;
    margin: 2rem 0 0 0;
}

header h3 {
    font-style: italic;
    font-family: 'Thasadith', sans-serif;
    color: #1C0F13;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 3rem;
}

nav {
    height: 40px;
    line-height: 40px;
}

nav a {
    font-family: 'Thasadith', sans-serif;
    letter-spacing: .1em;
    text-transform: lowercase;
    text-decoration: none;
    color: black;
    bottom: 0px;

    position: relative;

    /* animation-name: raise;
    animation-duration: .5s; */
}

nav a:hover {
    color: white;
    transition: .5s;
}

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.clicked {
    border-bottom: 2px solid white;
    padding-bottom: 0;
}

/* @keyframes raise {
    from {bottom: 0px;}
    to {bottom: 10px;}
} */